
<div class="background">
  <ion-card-content>
    <form id="loginForm">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" id="email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" id="password" name="password"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="block" id="loginButton">Login</ion-button>
      <ion-button type="submit" expand="block" id="loginButton">
        <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo">
        <span>Login with Google</span>
      </ion-button>
    </form>
  </ion-card-content>
</div>