.background {
    background-color: #FFF5E1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    ion-card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        background-color: #d86e6e;
        border-radius: 20%;
        box-shadow: 20px 20px 0px #292929;
    }

    ion-item {
        --background: transparent;
        --border-color: #292929;
        color: #292929;

        ion-label {
            font-family: 'Quicksand';
            font-weight: bold;
        }
    }

    ion-button {
        margin-top: 20px;
        color: #292929;
        --background: #6fa1c4;
        --border-radius: 20px;
        --box-shadow: 5px 5px 0px #292929;  
        font-family: 'Quicksand';
        font-weight: bold;  
    }

    #loginButton {
        --background: white;

        img {
            height: 20px;
            margin-right: 10px;
            background-color: transparent;
        } 
    }  
}

.item-has-focus {
    --highlight-background: #FFF5E1;
    
    ion-label {
        color: #FFF5E1 !important;
        font-family: 'Quicksand';
        font-weight: bold;
    }
}