<div class="background">
  <div class="word-container">
    <div *ngFor="let letter of ['P', 'A', 'P', 'E', 'R']; let i = index" class="slider-container">
      <div class="line-container">
        <div class="line"></div>
      </div>
      <input 
        class="slider"
        [ngClass]="letter"
        type="range" 
        min="1" 
        max="5" 
        value="3" 
        step="1"
      />
    </div>
  </div>
  <ion-button class="submit" type="submit" expand="block">Submit</ion-button>
</div>
