.background {
    background-color: #FFF5E1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .letter-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .PAPER {
        font-family: 'Quicksand';
        font-weight: bold;
        font-size: 20vw;
        color: #6fa1c4;
        text-shadow: 0.75vw 0.75vw 0px #292929;
    }

    .arrow {
        cursor: pointer;
        font-size: 5vw;
        color: #bbb;
        margin-top: -2vw;
        margin-bottom: -4vw;
    }

    .secondary {
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    .clicked-up {
        color: #88c488;
    }

    .clicked-down {
        color: #d86e6e;
    }
}
