<div class="background">
  <div class="letter-container" *ngFor="let letter of ['P', 'A', 'P', 'E', 'R']">
    <div *ngIf="showSecondUpArrow(letter)" class="arrow secondary" (click)="changeSecondaryColor($event, letter, 'up')" id="second-up">&#9650;</div>
    <div class="arrow" (click)="changePrimaryColor($event, letter, 'up')" id="up">&#9650;</div>
    <div class="PAPER">{{ letter }}</div>
    <div class="arrow" (click)="changePrimaryColor($event, letter, 'down')" id="down">&#9660;</div>
    <div *ngIf="showSecondDownArrow(letter)" class="arrow secondary" (click)="changeSecondaryColor($event, letter, 'down')" id="second-down">&#9660;</div>
  </div>
</div>
