.background {
    background-color: #FFF5E1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .letter-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .arrow-wrapper-up, .arrow-wrapper-down {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .PAPER {
            font-family: 'Quicksand';
            font-weight: bold;
            font-size: 20vw;
            color: #6fa1c4;
            text-shadow: 0.75vw 0.75vw 0px #292929;
        }
    
        .arrow {
            position: relative;
            font-size: 5vw;
            color: #bbb;
            margin-top: 0;
            margin-bottom: 0;
            cursor: pointer;
        }

        .secondary {
            font-size: 5vw;
            color: #bbb;
        }
    
        .clicked-up {
            color: #88c488;
        }
    
        .clicked-down {
            color: #d86e6e;
        }
    }
}
