.background {
    background-color: #FFF5E1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slider {
    -webkit-appearance: none;
    transform: rotate(270deg);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 50px;
    height: 50px;
    background: url('https://source.unsplash.com/random/50x50');
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 50px;
    height: 50px;
    background: url('https://source.unsplash.com/random/50x50');
    cursor: pointer;
}

ion-button {
    margin-top: 40px;
    color: #292929;
    --background: #a088c4;
    --border-radius: 20px;
    --box-shadow: 5px 5px 0px #292929;  
    font-family: 'Quicksand';
    font-weight: bold;  
    font-size: larger;
}

.word-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .letter-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .arrow-wrapper-up, .arrow-wrapper-down {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .PAPER {
            font-family: 'Quicksand';
            font-weight: bold;
            font-size: 20vw;
            color: #6fa1c4;
            text-shadow: 0.75vw 0.75vw 0px #292929;
        }
    }
}